<!doctype html>
<html ng-app="Demo">
<head>
    <meta charset="utf-8" />
 
    <title>
        Friendly Service
    </title>
 
    <style type="text/css">
 
        a[ ng-click ] {
            color: #FF00CC ;
            cursor: pointer ;
            text-decoration: underline ;
        }
 
    </style>	
</head>
<body ng-controller="DemoController">
 
    <h1>Friendly Service
    </h1>
    
    <!-- 
        Using The $http Service In AngularJS To Make AJAX Requests<br>
        From Ben Nadel @ <br> 
        http://www.bennadel.com/blog/2612-using-the-http-service-in-angularjs-to-make-ajax-requests.htm
        with slight modification and adding Restul services on Java side.
 	-->
 	
    <!-- Show existing friends. -->
    <ul>
        <li ng-repeat="friend in friends">
 
            {{ friend.name }}
 
            ( <a ng-click="removeFriend( friend )">delete</a> )
 
        </li>
    </ul>
 
    <!-- Add a new friend to the list. -->
    <form ng-submit="addFriend()">
 
        <input type="text" ng-model="form.name" size="20" />
        <input type="submit" value="Add Friend" />
 
    </form>
 
 
</body>
<script>
    /* Beginning of async download code. */
    window.onload = function(){
        function loadjscssfile(filename, filetype) {
            if(filetype == "js") {
                var cssNode = document.createElement('script');
                cssNode.setAttribute("type", "text/javascript");
                cssNode.setAttribute("src", filename);
            } else if(filetype == "css") {
                var cssNode = document.createElement("link");
                cssNode.setAttribute("rel", "stylesheet");
                cssNode.setAttribute("type", "text/css");
                cssNode.setAttribute("href", filename);
            }
            if(typeof cssNode != "undefined")
                document.getElementsByTagName("head")[0].appendChild(cssNode);
        }
        loadjscssfile("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", "css");
        loadjscssfile("//fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese", "css");
        loadjscssfile("/css/style.css", "css");
        loadjscssfile("//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js", "js");
        loadjscssfile("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js", "js");
    };
    /* End of async download code. */
</script>
</html>